openlist/data/data.db-shm
openlist/data/data.db-wal
openlist/data/log/
openlist/data/temp/
btop/btop.log
dconf/
dinit.d/
fcitx/
fcitx5/conf/cached_layouts
gtk-3.0/
gtk-4.0/
ibus/
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/playlists/
nwg-look/
procps/
xsettingsd/
QtProject.conf
nvim/lazy-lock.json
tmux/plugins
Kitware/
obsidian/
mimeapps.list
krita*
heroic/
godot/*
