alist/data/data.db-shm
alist/data/data.db-wal
alist/data/log/
alist/data/temp/
btop/btop.log
btop/themes/
dconf/
dinit.d/
fcitx/
fcitx5/conf/cached_layouts
gtk-3.0/
gtk-4.0/
ibus/
mpd/database
mpd/log
mpd/pid
mpd/state
mpd/playlists/
procps/
