log-level: silent
socks-port: 7892
ipv6: false
allow-lan: false
geodata-mode: false
tun:
  enable: false
sniffer:
  enable: false
hosts:
  thirdeye.kosaka-chatgpt.eu.org: 104.19.63.166
  fr3.musktrump.top: 172.67.138.105
dns:
  enable: true
  cache-algorithm: arc
  respect-rules: false
  ipv6: false
  default-nameserver:
    - tls://1.1.1.1
  enhanced-mode: redir-host
  direct-nameserver:
    - 192.168.2.1
profile:
  store-selected: true
mode: rule
tcp-concurrent: true
unified-delay: false
proxies:
  - name: v2free
    type: vmess
    server: fr3.musktrump.top
    port: 80
    uuid: ae3ee41e-e274-3252-88f2-3bc434b830cf
    network: ws
    tls: false
    alterId: 0
    cipher: auto
    client-fingerprint: chrome
    ws-opts:
      path: /fr333gogofa
      v2ray-http-upgrade: true
      headers:
        host: fr3.musktrump.top
  - name: cfvless
    type: vless
    server: thirdeye.kosaka-chatgpt.eu.org
    port: 443
    uuid: 17ecefc4-d24c-4192-b6e4-f8335ee03c8b
    network: ws
    tls: true
    udp: false
    sni: thirdeye.kosaka-chatgpt.eu.org
    client-fingerprint: chrome
    ws-opts:
      path: /?ed=2048
      headers:
        host: thirdeye.kosaka-chatgpt.eu.org
proxy-groups:
  - name: cloudflare
    type: select
    proxies:
      - cfvless
  - name: airport
    type: select
    proxies:
      - v2free
rules:
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - IP-CIDR,10.0.0.0/8,DIRECT
  - DOMAIN-SUFFIX,local,DIRECT
  - DOMAIN-KEYWORD,ogads,REJECT
  - DOMAIN-KEYWORD,pagead,REJECT
  - DOMAIN-SUFFIX,openai.com,airport
  - DOMAIN-SUFFIX,chatgpt.com,airport
  - DOMAIN-SUFFIX,oaistatic.com,airport
  - DOMAIN-SUFFIX,medium.com,airport
  - DOMAIN-SUFFIX,quora.com,airport
  - DOMAIN-SUFFIX,quoracdn.net,airport
  - DOMAIN-SUFFIX,anthropic.com,airport
  - DOMAIN-SUFFIX,flowoss.com,airport
  - DOMAIN-SUFFIX,v2ex.com,airport
  - DOMAIN-SUFFIX,npdn.top,airport
  - DOMAIN-SUFFIX,gitlab.com,airport
  - DOMAIN-SUFFIX,wikipedia.org,airport
  - DOMAIN-SUFFIX,wikimedia.org,airport
  - DOMAIN-SUFFIX,sourceforge.net,airport
  - DOMAIN-SUFFIX,sagernet.org,airport
  - DOMAIN-SUFFIX,mpv.io,airport
  - DOMAIN-SUFFIX,fcdn.sk,airport
  - DOMAIN-SUFFIX,x.com,airport
  - DOMAIN-SUFFIX,twitter.com,airport
  - DOMAIN-SUFFIX,1lib.sk,airport
  - DOMAIN-SUFFIX,apkpure.com,airport
  - DOMAIN-SUFFIX,ncdn.ec,airport
  - DOMAIN-SUFFIX,cloudflare.com,airport
  - DOMAIN-SUFFIX,startpage.com,airport
  - DOMAIN-SUFFIX,google.com,airport
  - DOMAIN-SUFFIX,cachyos.org,airport
  - DOMAIN-SUFFIX,githubassets.com,airport
  - DOMAIN-SUFFIX,pinimg.com,airport
  - DOMAIN-SUFFIX,apkcombo.com,airport
  - DOMAIN-SUFFIX,winudf.com,airport
  - DOMAIN-SUFFIX,androidcombo.com,airport
  - DOMAIN-SUFFIX,claude.ai,airport
  - DOMAIN-SUFFIX,v2free.cc,airport
  - MATCH,cloudflare
